<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CourierBackOfficeManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CourierBackOfficeManagement.Properties.Settings>
            <setting name="CourierBackOfficeManagement_Login_LoginWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/LoginWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_CorporateClient_CorporateClientWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/CorporateClientWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_Location_LocationWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/LocationWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_Country_CountryWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/CountryWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_GeneralCourier_GeneralCourierWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/GeneralCourierWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_CorporateClientLocation_CorporateClientLocationWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/CorporateClientLocationWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_State_StateWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/StateWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_CorporateCourierEntry_CorporateCourierEntryWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/CorporateCourierEntryWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_ExpenseHead_ExpenseHeadWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/ExpenseHeadWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_Expense_ExpenseWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/ExpenseWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_GeneralCourierPrice_GeneralCourierPriceWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/GeneralCourierPriceWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_CourierReport_CourierReportWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/CourierReportWebService.asmx</value>
            </setting>
            <setting name="CourierBackOfficeManagement_Logo_LogoWebService"
                serializeAs="String">
                <value>http://localhost:44719/BackEndWebService/CompanyLogoAndAddressWebService.asmx</value>
            </setting>
        </CourierBackOfficeManagement.Properties.Settings>
    </applicationSettings>
</configuration>